@charset "utf-8";

$base-font-family: "CMU Serif";
$code-font-family: "Courier Prime";
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$spacing-unit:     30px !default;
$table-text-align: left !default;
$content-width:    800px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;
$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin relative-font-size($ratio) {
    font-size: #{$ratio}rem;
}

@import "base", "layout";
