<!DOCTYPE html>
<html lang=en-US class="noScroll">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

        <link rel="stylesheet" href="{{ absURL "" }}css/fonts.css">
        <link rel="stylesheet" href="{{ absURL "" }}css/links.css">
        <link rel="stylesheet" href="{{ absURL "" }}css/colors.css">
        <link rel="stylesheet" href="{{ absURL "" }}css/search.css">
        <link rel="stylesheet" href="{{ absURL "" }}css/mathJax.css">

        <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js" defer></script>

        <script src="{{ absURL "" }}js/input.js" type="module" defer></script>
        <script src="{{ absURL "" }}js/search.js" type="module" defer></script>
        <script src="{{ absURL "" }}js/darkMode.js" type="module" defer></script>

        <div style="display:none;" id="preamble"></div>
    </head>

    <body class="listenDark">
        {{ block "main" . }}{{ end }}

        <div id="searchBox" class="listenDark" style="display: none;">
            <input id="searchBar" class="listenDark" placeholder="Search for a note..." onkeydown="search(event);">
            <ul id="searchList" class="listenDark" onclick="searchOpen(getCtrlKeyDown());">
                <li id="searchItem0" class="listenDark" onmouseover="searchItemActive(0)"></li>
                <li id="searchItem1" class="listenDark" onmouseover="searchItemActive(1)"></li>
                <li id="searchItem2" class="listenDark" onmouseover="searchItemActive(2)"></li>
                <li id="searchItem3" class="listenDark" onmouseover="searchItemActive(3)"></li>
                <li id="searchItem4" class="listenDark" onmouseover="searchItemActive(4)"></li>
                <li id="searchItem5" class="listenDark" onmouseover="searchItemActive(5)"></li>
                <li id="searchItem6" class="listenDark" onmouseover="searchItemActive(6)"></li>
                <li id="searchItem7" class="listenDark" onmouseover="searchItemActive(7)"></li>
                <li id="searchItem8" class="listenDark" onmouseover="searchItemActive(8)"></li>
                <li id="searchItem9" class="listenDark" onmouseover="searchItemActive(9)"></li>
            </ul>
        </div>
    </body>
</html>
