<!DOCTYPE html>
<html lang=en-US class="noScroll">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

        <link rel="stylesheet" href="{{ absURL "" }}css/fonts.css">
        <link rel="stylesheet" href="{{ absURL "" }}css/links.css">
        <link rel="stylesheet" href="{{ absURL "" }}css/search.css">
        <link rel="stylesheet" href="{{ absURL "" }}css/mathJax.css">
        <link rel="stylesheet" href="{{ absURL "" }}css/darkMode.css">
        <link rel="stylesheet" href="{{ absURL "" }}css/variables.css">
        <link rel="stylesheet" href="{{ absURL "" }}css/noProperty.css">

        <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>

        <script src="{{ absURL "" }}js/input.js" type="module"></script>
        <script src="{{ absURL "" }}js/search.js" type="module"></script>
        <script src="{{ absURL "" }}js/mathJax.js" type="module" async></script>
        <script src="{{ absURL "" }}js/darkMode.js" type="module"></script>

        <div style="display:none;" id="preamble"></div>
    </head>

    <body class="listenDark">
        {{ block "main" . }}{{ end }}

        <div id="searchBox" style="display: none;">
            <input id="searchBar" placeholder="Search for a note..." onkeydown="search(event);">
            <ul id="searchList" onclick="searchOpen(getCtrlKeyDown());">
                <li id="searchItem0" onmouseover="searchItemActive(0)"></li>
                <li id="searchItem1" onmouseover="searchItemActive(1)"></li>
                <li id="searchItem2" onmouseover="searchItemActive(2)"></li>
                <li id="searchItem3" onmouseover="searchItemActive(3)"></li>
                <li id="searchItem4" onmouseover="searchItemActive(4)"></li>
                <li id="searchItem5" onmouseover="searchItemActive(5)"></li>
                <li id="searchItem6" onmouseover="searchItemActive(6)"></li>
                <li id="searchItem7" onmouseover="searchItemActive(7)"></li>
                <li id="searchItem8" onmouseover="searchItemActive(8)"></li>
                <li id="searchItem9" onmouseover="searchItemActive(9)"></li>
            </ul>
        </div>
    </body>
</html>
