{{ define "title" }}{{ .Title }}{{ end }}
{{ define "main" }}
    <script src="{{ absURL "" }}js/single.js" type="module"></script>
    <script src="{{ absURL "" }}js/single/headers.js" type="module"></script>
    <script src="{{ absURL "" }}js/single/format.js" type="module"></script>
    <script src="{{ absURL "" }}js/single/refs.js" type="module"></script>

    <link rel="stylesheet" href="{{ absURL "" }}css/single.css">
    <link rel="stylesheet" href="{{ absURL "" }}css/ref.css">
    <link rel="stylesheet" href="{{ absURL "" }}css/toc.css">
    <link rel="stylesheet" href="{{ absURL "" }}css/env.css">

    <div id="mainPage">
        <div id="content">
            <h1 id="title" titleSize="{{ .Params.titleSize }}">
                {{ if .Params.renderedTitle }}
                    {{ .Params.renderedTitle }}
                {{ else }}
                    {{ .Title }}
                {{ end }}
            </h1>

            {{ .Content }}

            <div id="references"></div>
            <div class="bottomSpace"></div>
        </div>

        <div id="toc"></div>
    </div>
{{ end }}
