{{ define "title" }}{{ .Title }}{{ end }}
{{ define "main" }}
    <script src="{{ absURL "" }}js/single.js" type="module" defer></script>
    <script src="{{ absURL "" }}js/single/metaLinks.js" type="module" defer></script>
    <script src="{{ absURL "" }}js/single/metaTOC.js" type="module" defer></script>
    <script src="{{ absURL "" }}js/single/preview.js" type="module" defer></script>
    <script src="{{ absURL "" }}js/single/proof.js" type="module" defer></script>
    <script src="{{ absURL "" }}js/single/side.js" type="module" defer></script>

    <link rel="stylesheet" href="{{ absURL "" }}css/metadata.css">
    <link rel="stylesheet" href="{{ absURL "" }}css/preview.css">
    <link rel="stylesheet" href="{{ absURL "" }}css/single.css">
    <link rel="stylesheet" href="{{ absURL "" }}css/env.css">
    <link rel="stylesheet" href="{{ absURL "" }}css/nav.css">

    <div id="mainPage">
        <button id="toggleDark" onclick="toggleDark(document, true, true, true);" class="navButton noSelect inPreview">
            <img id="toggleDarkIcon" src="{{ absURL "" }}css/fa/sun.svg">
        </button>
        <button id="toggleSide" onclick="toggleSide();" class="navButton noSelect inPreview">
            <img id="toggleSideIcon" src="{{ absURL "" }}css/fa/sun.svg">
        </button>
        <div id="content" class="left noScroll">
            {{ if .Params.renderedTitle }}
                <h1 id="title" titleSize="{{ .Params.titleSize }}">
                    {{ .Params.renderedTitle }}
                </h1>
            {{ else }}
                <h1 id="title" titleSize="{{ .Params.titleSize }}">
                    {{ .Title }}
                </h1>
            {{ end }}
            {{ .Content }}

            <div class="spacer">&nbsp;</div>
        </div>

        <div id="side" class="inPreview">
            <div id="metadata" class="right noScroll">
                {{ .Params.date | time.Format ":date_long" }} | Zhaoshen Zhai

                <div>References:
                    {{ range .Params.references }}
                        <div class="metaButton metaRef listenDark">#{{ . }}</div>
                    {{ else }} None {{ end }}
                </div>
                <div>Tags:
                    {{ range .Params.tags }}
                        <div class="metaButton metaTag listenDark">#{{ . }}</div>
                    {{ else }} None {{ end }}
                </div>
                <br>

                <div>Table of Contents:
                    <button class="metaButton listenDark" onclick="showMetaTOC();">Show</button>
                    <button class="metaButton listenDark" onclick="hideMetaTOC();">Hide</button>
                    <div id="metaTOC"></div>
                </div>
                <div>Links:
                    <button class="metaButton listenDark" onclick="expandMetaLinks();">Expand</button>
                    <button class="metaButton listenDark" onclick="collapseMetaLinks();">Collapse</button>
                    <div id="metaLinks"></div>
                </div>

                <div class="spacer">&nbsp;</div>
            </div>
            <div id="previewContainer">
                <button id="resetSide" onclick="resetSide();" class="navButton noSelect" style="display: none;">
                    <img src="{{ absURL "" }}css/fa/close.svg">
                </button>
            </div>
        </div>
    </div>
{{ end }}
