{{ define "title" }}{{ .Title }}{{ end }}
{{ define "main" }}
    <script src="{{ absURL "" }}js/single.js" type="module"></script>
    <script src="{{ absURL "" }}js/single/headers.js" type="module"></script>

    <link rel="stylesheet" href="{{ absURL "" }}css/single.css">
    <link rel="stylesheet" href="{{ absURL "" }}css/toc.css">
    <link rel="stylesheet" href="{{ absURL "" }}css/env.css">

    <div id="mainPage">
        <div id="content">
            {{ if .Params.renderedTitle }}
                <h1 id="title" titleSize="{{ .Params.titleSize }}">
                    {{ .Params.renderedTitle }}
                </h1>
            {{ else }}
                <h1 id="title" titleSize="{{ .Params.titleSize }}">
                    {{ .Title }}
                </h1>
            {{ end }}
            {{ .Content }}

            <div class="bottomSpace">&nbsp;</div>
        </div>

        <div id="toc"></div>
        <div class="bottomSpace">&nbsp;</div>
    </div>
{{ end }}
