{{ $path := .Get 0 }}
{{ $type := .Get 1 }}
{{ $link := absURL $path }}
{{ $name := $path }}
{{ $page := .Page.GetPage $path }}

{{ if eq (.Get 2) "dag" }}
    {{ $name = "$^\\dagger$" }}
    {{ $type = printf "%s %s" $type "dag" }}
{{ end }}

<a href={{ $link }} class="internalLink {{ $type }}" title="{{ $page.Title }}" mathLink="{{ $page.Params.mathLink }}" onmouseover="previewSide({{ $link }});" onmouseleave="clearPreviewSide();" onclick="updateCurrentSide(event, {{ $link }});">{{ $name }}</a>{{- "" -}}
