Images/*/*.aux
Images/*/*.fdb_latexmk
Images/*/*.fls
Images/*/*.log
Images/*/*.out
Images/*/*.pdf
Images/*/*.synctex.gz
Images/*/*.svg

.site/public

.scripts/js/node_modules
.scripts/js/package-lock.json

.obsidian/workspace.json
.obsidian/graph.json
