*.md linguist-detectable=true
README.md linguist-detectable=false
.obsidian/plugins/**/*.js linguist-vendored
.obsidian/plugins/**/*.css linguist-vendored
.obsidian/themes/Minimal.css linguist-vendored
