*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
*.svg

.site/.jekyll-cache
.site/.jekyll-metadata
.site/_posts
.site/_site
.site/images
.site/Gemfile.lock

.obsidian/workspace.json
.obsidian/graph.json
