#references {
    font-size: 22px;
}

#references div {
    display: flex;
    justify-content: flex-start;
}

#references div span {
    flex: 1;
}

#references div span:last-of-type {
    flex: 80%;
}
