<!DOCTYPE html>
<html lang=en-US>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{{ .Site.Title }}</title>

        <link rel="stylesheet" href="{{ absURL "" }}css/fonts.css">
        <link rel="stylesheet" href="{{ absURL "" }}css/links.css">
        <link rel="stylesheet" href="{{ absURL "" }}css/colors.css">
        <link rel="stylesheet" href="{{ absURL "" }}css/search.css">
        <link rel="stylesheet" href="{{ absURL "" }}css/mathJax.css">

        <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js" defer></script>

        <script src="{{ absURL "" }}js/mathJax.js" type="module" async defer></script>
        <script src="{{ absURL "" }}js/search.js" type="module" defer></script>
        <script src="{{ absURL "" }}js/keys.js" type="module" defer></script>

        <div style="display:none;" id="preamble"></div>
    </head>

    <body>
        {{ block "main" . }}{{ end }}

        <div id="searchBox" style="display: none;">
            <input id="searchBar" placeholder="Search for a note..." onkeydown="search(event);">
            <ul id="searchList">
                <li id="searchListItem0"></li>
                <li id="searchListItem1"></li>
                <li id="searchListItem2"></li>
                <li id="searchListItem3"></li>
                <li id="searchListItem4"></li>
                <li id="searchListItem5"></li>
                <li id="searchListItem6"></li>
                <li id="searchListItem7"></li>
            </ul>
        </div>
    </body>
</html>
