<!DOCTYPE html>
<html lang=en-US>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title> {{ block "title" . }} {{ .Site.Title }} {{ end }} </title>

        <link rel="stylesheet" href="{{ absURL "" }}css/fonts.css">
        <link rel="stylesheet" href="{{ absURL "" }}css/links.css">
        <link rel="stylesheet" href="{{ absURL "" }}css/mathJax.css">

        <script src="{{ absURL "" }}js/loadMathJax.js" async></script>
        <div style="display:none;" id="preamble"></div>

        <script src="https://kit.fontawesome.com/2af04c65dc.js" crossorigin="anonymous"></script>
    </head>

    <body>
        {{ block "main" . }}{{ end }}
    </body>
</html>
