{{ define "main" }}
    <script src="https://kit.fontawesome.com/2af04c65dc.js" crossorigin="anonymous"></script>
    <script src="{{ absURL "" }}js/metadata.js" defer></script>
    <script src="{{ absURL "" }}js/preview.js" defer></script>

    <link rel="stylesheet" href="{{ absURL "" }}css/atomic.css">

    <div id="content" class="left">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
    </div>

    <div id="side">
        <div id="metadata" class="right">Outgoing links
            <button id="definitionLinksDisplay">Definitions</button>
            <button id="proofLinksDisplay">Proofs</button>
        </div>
        <div id="preview">
            <button id="resetSide" class="button" onclick="resetSide();" style="display: none;">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
    </div>
{{ end }}
