{{ define "main" }}
    <script src="{{ absURL "" }}js/metadata.js" type="module" defer></script>
    <script src="{{ absURL "" }}js/preview.js" type="module" defer></script>

    <link rel="stylesheet" href="{{ absURL "" }}css/preview.css">
    <link rel="stylesheet" href="{{ absURL "" }}css/single.css">
    <link rel="stylesheet" href="{{ absURL "" }}css/footer.css">
    <link rel="stylesheet" href="{{ absURL "" }}css/env.css">
    <link rel="stylesheet" href="{{ absURL "" }}css/nav.css">

    <div id="pageContainer">
        <div id="content" class="left">
            {{ if .Params.mathLink }}
                <h1>{{ .Params.mathLink }}</h1>
            {{ else }}
                <h1>{{ .Title }}</h1>
            {{ end }}
            {{ .Content }}
        </div>

        <div id="side">
            <div id="metadata" class="right noScroll">
                {{ .Params.date | time.Format ":date_long" }} | Zhaoshen Zhai

                <div id="references">References:
                    {{ range .Params.references }}
                        <div class="metaButton metaRef">#{{ . }}</div>
                    {{ else }} None {{ end }}
                </div>
                <div id="tags">Tags:
                    {{ range .Params.tags }}
                        <div class="metaButton metaTag">#{{ . }}</div>
                    {{ else }} None {{ end }}
                </div>

                <br>
                <div id="links">Links:
                    <button class="metaButton" onclick="expandMetaLinks();">Expand</button>
                    <button class="metaButton" onclick="collapseMetaLinks();">Collapse</button>
                    <div id="metaLinks"></div>
                </div>
            </div>
            <div id="preview">
                <button id="resetSide" onclick="resetSide();" class="navButton" style="display: none;">
                    <img src="{{ absURL "" }}css/fa/close.svg">
                </button>
            </div>
        </div>

        <div id="footer">hi</div>
    </div>
{{ end }}
