@font-face {
    font-family: 'cmu';
    src: url('fonts/cmus.woff2') format('woff2'),
         url('fonts/cmus.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cmu';
    src: url('fonts/cmusi.woff2') format('woff2'),
         url('fonts/cmusi.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'cmu';
    src: url('fonts/cmusb.woff2') format('woff2'),
         url('fonts/cmusb.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'cmu';
    src: url('fonts/cmusbi.woff2') format('woff2'),
         url('fonts/cmusbi.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'cmuc';
    src: url('fonts/cmuc.woff2') format('woff2'),
         url('fonts/cmuc.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cmuc';
    src: url('fonts/cmuci.woff2') format('woff2'),
         url('fonts/cmuci.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'cmuc';
    src: url('fonts/cmucb.woff2') format('woff2'),
         url('fonts/cmucb.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'cmuc';
    src: url('fonts/cmucbi.woff2') format('woff2'),
         url('fonts/cmucbi.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'cmut';
    src: url('fonts/cmut.woff2') format('woff2'),
         url('fonts/cmut.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cmut';
    src: url('fonts/cmutl.woff2') format('woff2'),
         url('fonts/cmutl.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'cmut';
    src: url('fonts/cmuti.woff2') format('woff2'),
         url('fonts/cmuti.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'cmut';
    src: url('fonts/cmutb.woff2') format('woff2'),
         url('fonts/cmutb.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'cmut';
    src: url('fonts/cmutbi.woff2') format('woff2'),
         url('fonts/cmutbi.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'cmu';
}
