#resetSide {
    top: 0;
    right: 3%;
    z-index: 1000;
    transition: right 1s;
}

#resetSide img {
    height: 30px;
    width: 30px;
}

.frame {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    border: none;
    outline: none;
}

.noScroll {
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.noScroll::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}
