#resetSide {
    position: fixed;
    right: 3%;
    z-index: 100;
    padding: 0;
    margin-top: 40px;
    border: none;
    border-radius: 10px;
    background-color: var(--close-bg);
}

#resetSide img {
    opacity: 0.5;
    height: 30px;
    width: 30px;
}

#resetSide img:hover {
    cursor: pointer;
    opacity: 1;
}

.frame {
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    border: none;
    outline: none;
}

.noScroll {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.noScroll::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}
