body {
    font-family: 'CMU Serif' !important
}

.view-header-title {
    font-family: 'CMU Serif' !important
}

.vertical-tab-content {
    font-family: 'CMU Serif' !important
}

.tag {
    font-family: 'CMU Serif' !important
}

.prompt-input {
    font-family: 'CMU Serif' !important
}

.mod-cta {
    font-family: 'CMU Serif' !important
}

input, textarea {
    font-family: 'CMU Serif' !important
}
