.markdown-source-view.mod-cm6 {
    font-family: courier prime !important;
}

.cm-line {
    font-size: 13px !important;
}

.cm-hashtag {
    font-family: courier prime !important;
}

@media print {
    body {
        --font-text: CMU Serif !important;
    }

    h1 {
        font-family: CMU Serif !important;
    }
}

.admonition-content {
    font-style: italic !important;
}
