.theme-dark img[alt] {
    filter: invert(1) hue-rotate(180deg);
}

.theme-dark .markdown-preview-view img {
    opacity: 1;                   
}

.floatRight {
    display: block;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
}
