ol>li::marker {
    color: var(--text-normal) !important;
}

ul>li::marker {
    color: var(--text-normal) !important;
}

.list-bullet:after {
    background-color: var(--text-normal);
}

ul li p {
    margin: 5px;
}

ol li p {
    margin: 5px;
}
