img {
  display: block;
  margin: 15px auto;
}

.markdown-reading-view :is(hr) {
    margin: 1em 0 !important;
}

.graph-controls {
    width: 300px;
}

.markdown-reading-view p {
    text-align: justify;
    text-justify: inter-word;
}
