/* Hide all statistics. */
.obsidian-vault-statistics--item {
    display: none !important;
}

/* Always show the notes and links statistics. */
.obsidian-vault-statistics--item-notes {
    display: initial !important;
}

.obsidian-vault-statistics--item-links {
    display: initial !important;
}

