.collapsibleContainer {
    overflow: hidden;
    max-height: 100000px;
    transition: max-height var(--collapseTransition);
}

.collapsibleHeaderButton {
    border-radius: 5px;
    transition: background-color var(--hoverTransition);
    position: relative;
    z-index: 200;
}

.collapsibleHeaderButton:hover {
    cursor: pointer;
    background-color: var(--box-bg);
}

.collapsibleContent {
    transition: opacity var(--collapseTransition);
    position: relative;
    z-index: 300;
}

.collapsibleMask {
    position: absolute;
    display: block;
    z-index: -1;
    width: 100%;
    opacity: 1;
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 1)); */
    background-color: rgba(255, 0, 0, 0.2);
    transition: opacity var(--collapseTransition);
}

.collapsibleMaskTop {
    height: 150px;
}

.collapsibleMaskBot {
    margin-top: 150px;
    height: 300px;
    /* background-color: rgba(255, 255, 255, 1); */
    background-color: rgba(0, 255, 0, 0.2);
    z-index: 200;
}

.collapsibleHintText {
    position: absolute;
    display: inline;
    width: 100%;
    opacity: 0;
    transition: opacity var(--collapseTransition);
    z-index: -1;
}

.sectionHeader {
    padding: 1px 8px;
}
