.collapsibleContainer {
    overflow: hidden;
    max-height: 100000px;
    transition: max-height var(--collapseTransition);
}

.collapsibleHeaderButton {
    border-radius: 5px;
    transition: background-color var(--hoverTransition);
    position: relative;
}

.collapsibleHeaderButton:hover {
    cursor: pointer;
    background-color: var(--box-bg);
}

.collapsibleContent {
    transition: opacity var(--collapseTransition);
    position: relative;
}

.collapsibleMask {
    position: absolute;
    display: block;
    z-index: -1;
    width: 300%;
    opacity: 0;
    background: linear-gradient(var(--mask-bg-1), var(--mask-bg-2));
    transition: opacity var(--collapseTransition), --mask-bg-1 var(--darkTransition), --mask-bg-2 var(--darkTransition);
}

.collapsibleMaskTop {
    height: 150px;
}

.collapsibleMaskBot {
    margin-top: 150px;
    background-color: var(--bg);
    height: 300px;
}

.collapsibleHintText {
    position: absolute;
    display: inline;
    width: 100%;
    opacity: 0;
    transition: opacity var(--collapseTransition);
    z-index: -1;
}

.sectionHeader {
    padding: 1px 8px;
}
