.collapsibleContainer {
    overflow: hidden;
    max-height: 100000px;
    transition: max-height var(--collapseTransition);
}

.collapsibleHeaderButton {
    border-radius: 5px;
    transition: background-color var(--hoverTransition);
}

.collapsibleHeaderButton:hover {
    cursor: pointer;
    background-color: var(--box-bg);
}

.collapsibleContent {
    transition: opacity var(--collapseTransition);
}

.collapsibleHintText {
    position: absolute;
    display: inline;
    width: 100%;
    opacity: 0;
    transition: opacity var(--collapseTransition);
    z-index: -1;
}

.sectionHeader {
    padding: 1px 8px;
}
