.listenDark, a {
    transition: color var(--darkTransition), background-color var(--darkTransition);
}

#toggleDark {
    top: 20px;
    left: 0.5%;
    margin: 0;
}

#toggleDark img {
    padding: 5px;
    height: 20px;
    width: 20px;
}

.tikz {
    display: block;
    margin: 10px auto 10px auto;
    text-align: center;
    transition: filter var(--darkTransition);
}
