a {
    text-decoration: none;
}

a:link, a:visited, a:active {
    color: var(--link);
}

a:hover {
    color: var(--link-hover);
}

.dag, .space {
    margin-left: -8px;
}

.ghostLink {
    color: red !important;
}
