body {
    color: var(--fg);
    background-color: var(--bg);
}

body, h1, p {
    margin: 0;
}

h2, p {
    font-size: 23px;
    display: inline;
}

blockquote {
    opacity: 0.6;
    border-left: 3px solid var(--quote);
    border-radius: 1px;
    margin: 10px;
    padding: 0.5em 10px;
}

#content, #metadata {
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    text-align: justify;
}

#content {
    padding-top: 60px;
}

#title {
    letter-spacing: 8px;
    line-height: 40px;
}

.left {
    width: 45%;
    left: 3%;
}

.right {
    width: 45%;
    right: 3%;
}

.spacer {
    width: 100%;
    height: 150px;
}

.title_spacer {
    padding-bottom: 20px;
}

.center {
    vertical-align: text-top;
    text-align: center;
}
