:root { 
    --bg: white;
    --fg: black;

    --link: rgba(0,0,138,0.8);
    --link-ghost: rgba(0,100,200,0.8);

    --link-hover: rgba(0,0,138,1);
    --link-ghost-hover: rgba(0,100,200,1);

    --ctrl-button-bg: rgba(255,255,255,0.5);
    --ctrl-button-hover-bg: rgba(200,200,200,0.5);

    --box-bg: rgba(0,0,0,0.05);
    --quote: rgba(0,0,0,0.25);
}

:root {
    --splitScreenTransition: 1s;
    --darkTransition: 0.2s;
    --collapseTransition: 0.5s;
    --rotateTransition: 0.2s;
    --hoverTransition: 0.1s;
}

@property --mask-bg-1 {
    syntax: '<color>';
    initial-value: rgba(255, 255, 255, 0.2);
    inherits: true;
}

@property --mask-bg-2 {
    syntax: '<color>';
    initial-value: white;
    inherits: true;
}
