{{ $path := .Get "file" }}
{{ $type := .Get "type" }}
{{ $mod := .Get "mod" }}
{{ $display := .Get "display" }}

{{ $link := absURL $path }}
{{ $page := .Page.GetPage $path }}
{{ $mathLink := $page.Params.mathLink }}

{{ $name := "" }}
{{ if $display }}
    {{ $name = $display }}
{{ else }}
    {{ if $mathLink }}
        {{ $name = $mathLink }}
    {{ else }}
        {{ $name = $page.Title }}
    {{ end }}
{{ end }}

{{ $title := "" }}
{{ if $page }}
    {{ $title = $page.Title }}
{{ else }}
    {{ $title = $display }}
    {{ $type = printf "%s %s" $type "ghostLink" }}
{{ end }}

{{ if eq $mod "dag" }}
    {{ $name = "$^\\dagger$" }}
    {{ $type = printf "%s %s" $type "dag" }}
{{ else if eq $mod "space" }}
    {{ $type = printf "%s %s" $type "space" }}
{{ end }}

<a href={{ $link }} class="internalLink {{ $type }}" title="{{ $title }}" mathLink="{{ $mathLink }}" onmouseover="previewSide({{ $link }}, {{ $page }});" onmouseleave="clearPreviewSide({{ $page }});" onclick="updateCurrentSide(event, {{ $link }}, {{ $page }});">{{ $name }}</a>{{- "" -}}
