#content {
    height: 100%;
    position: absolute;
    top: 0;
    padding-top: 20px;
    text-align: justify;
    padding-bottom: 10px;
}

#previewFrame {
    height: 100%;
    position: absolute;
    top: 0;
    border: none;
    width: 45%;
    right: 3%;
}

.left {
    width: 45%;
    left: 3%;
}
