h1 {
    margin: 0;
}

#content, #metadata {
    height: 100%;
    top: 0;
    bottom: 0;
    text-align: justify;
}

#content {
    position: absolute;
    padding-top: 60px;
}

#metadata {
    font-family: cmut;
    position: fixed;
    padding-top: 70px;
}

#metaButtons {
    display: inline;
    opacity: 0.6;
    font-size: 18px;
}

.metaLinkType {
    font-family: cmut;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 5px 0px;
    margin: 5px 0px;
    width: 100%;
    text-align: left;
    background-color: white;
}

.metaLinkType .icon {
    height: 15px;
    transition: rotate 0.2s ease-out;
}

.metaLinkList {
    font-family: cmu;
    padding: 0 40px;
    margin: 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.metaButton {
    font-family: cmut;
    font-size: 18px;
    z-index: 100;
    padding: 2px 8px;
    border: none;
    border-radius: 8px;
    background-color: white;
}

.metaButton:hover, .metaLinkType:hover {
    background-color: var(--box-bg);
}

.left {
    width: 45%;
    left: 3%;
}

.right {
    width: 45%;
    right:3%;
}
