@font-face {
    font-family: 'cmu';
    src: url('fonts/cmusr.woff2') format('woff2'),
         url('fonts/cmusr.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'cmu';
    font-size: 23px;
}
