<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <script>
            MathJax = {
                loader: {load: ['[tex]/mathtools']},
                tex: {
                    inlineMath: [['$', '$']],
                    processEscapes: true,
                    packages: {'[+]': ['mathtools']}
                }
            };
        </script>
        <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <script src="https://kit.fontawesome.com/2af04c65dc.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {%- include header.html -%}
        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                <div style="display: none">${%- include preamble.sty -%}$</div>
                {{ content }}
            </div>
        </main>
        {%- include footer.html -%}
    </body>
</html>
