---
---

@import
  "skins/{{ site.skin | default: 'classic' }}",
  "initialize";

body {
    background-color: #1E2127;
    color: #CCCDCF;
    font-size: 22px;
    font-family: "CMU Serif";
    line-height: 1.5;
}

ul, ol {
    margin-top: 20px;
}

ul ::marker {
    font-style: normal !important;
}

img {
    margin: 25px auto;
}

a {
    color: #56B6C2;
}

a:link, a:visited, a:active {
    color: #56B6C2;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #66C6D2;
    background-color: transparent;
    text-decoration: none;
}

.wrapper {
    max-width: 92%;
    margin-left: 5.2%;
    margin-right: 5.2%;
}

.admonition {
    background-color: #34373D;
    border-radius: 8px;
}

.admonition-container {
    font-style: italic;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
}

.admonition-header {
    color: #F8F8FF;
    font-weight: bold;
    margin-top: 30px;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.hr-rule {
    height: 2px;
    background-color: #34373D;
    border-radius: 8px;
    border-width: 0;
}
